<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test
          name="Test On Chrome" parallel="methods" thread-count="3">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.SwagLabs.test_loginpage.LoginPageCompTest">
                <methods>
<!--                    <include name="B2"/>-->
<!--                    <include name="A2"/>-->
                    <include name="B"/>
                    <include name="A"/>
                </methods>
            </class>
        </classes>
    </test>

<!--    <test-->
<!--            name="Test On FireFox" parallel="methods" thread-count="3">-->
<!--        <parameter name="browser" value="firefox"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.SwagLabs.test_loginpage.LoginPageCompTest">-->
<!--                <methods>-->
<!--                    <include name="B2"/>-->
<!--                    <include name="A2"/>-->
<!--                    <include name="B"/>-->
<!--                    <include name="A"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>